## Análise Exploratória

Arquivo "covid_19_clean_complete.csv"

In [121]:
import pandas as pd
import seaborn as sns

In [230]:
path_covid_19_clean = r'C:\Users\angel\Desktop\Data science\GitHub\GitHub\btc2-blue-g4\src\Dados\kaggle\covid_19_clean_complete.csv'
path_worldmeter = r'C:\Users\angel\Desktop\Data science\GitHub\GitHub\btc2-blue-g4\src\Dados\kaggle\worldometer_data.csv'
path_country_wise = r'C:\Users\angel\Desktop\Data science\GitHub\GitHub\btc2-blue-g4\src\Dados\kaggle\country_wise_latest.csv'
path_full_grouped = r'C:\Users\angel\Desktop\Data science\GitHub\GitHub\btc2-blue-g4\src\Dados\kaggle\full_grouped.csv'

In [304]:
def gerar_df(path_covid_19_clean,path_worldmeter, path_country_wise, path_full_grouped):

    df0 = pd.read_csv(path_covid_19_clean)
    df1 = pd.read_csv(path_worldmeter)
    df2 = pd.read_csv(path_full_grouped )

    df3 = pd.merge(df0, df1[["Continent","Population","Country/Region"]], on=["Country/Region"], how="left")
    
    df_diario = pd.merge(df3, df2[["New cases","New deaths","Date", "Country/Region"]], on=["Date","Country/Region" ], how="left")

    df_diario= df_diario.drop(["Lat","Long", 
                   "Province/State", 
                   "WHO Region"], axis=1)

    df_diario["death / 100.000 Hab"] = (df_diario["Deaths"]/df_diario["Population"])*100000

    df_diario = df_diario[["Country/Region",
               "Continent", 
               "Population", 
               "Date", 
               "Confirmed", 
               "Deaths", 
               "death / 100.000 Hab", 
               "Recovered", "Active", 
               "New cases", 
               "New deaths"]]

  
    df_diario.rename(columns={
    'Province/State': 'province_state',
    'Country/Region': 'country_region',
    },inplace=True)
    df_diario.columns = df_diario.columns.str.lower()
    df_diario["date"] = pd.to_datetime(df_diario["date"])


    df_total = pd.read_csv(path_country_wise)

    df_total = pd.merge(df_total, df1[["Continent","Population","Country/Region"]], on=["Country/Region"], how="left")
    df_total["death / 100.000 Hab"] = (df_total["Deaths"]/df_total["Population"])*100000

    df_total= df_total.drop([ "New cases",
                              "New deaths", 
                              "New recovered", 
                              "WHO Region",
                               "Confirmed last week", 
                               "1 week change", 
                               "1 week % increase"], axis=1)

    df_total = df_total[["Country/Region",
                        "Continent", 
                        "Population", 
                        "Confirmed", 
                        "Deaths", 
                        "death / 100.000 Hab", 
                        "Recovered", 
                        "Active",]]

    df_total.rename(columns={
    'Province/State': 'province_state',
    'Country/Region': 'country_region',
    },inplace=True)
    df_total.columns = df_total.columns.str.lower()

    df_total.reset_index()
    df_diario.reset_index()

           
    return df_total, df_diario

In [305]:
df_total, df_diario = gerar_df(path_covid_19_clean,path_worldmeter, path_country_wise, path_full_grouped)

#   Casos totais

In [306]:
df_total

,country_region,continent,population,confirmed,deaths,death / 100.000 hab,recovered,active
0,Afghanistan,Asia,39009447.0,36263,1269,3.253058,25198,9796
1,Albania,Europe,2877470.0,4880,144,5.004396,2745,1991
2,Algeria,Africa,43926079.0,27973,1163,2.647630,18837,7973
3,Andorra,Europe,77278.0,907,52,67.289526,803,52
4,Angola,Africa,32956300.0,950,41,0.124407,242,667
...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,NaN,NaN,10621,78,NaN,3752,6791
183,Western Sahara,Africa,598682.0,10,1,0.167034,8,1
184,Yemen,Asia,29886897.0,1691,483,1.616093,833,375
185,Zambia,Africa,18430129.0,4552,140,0.759626,2815,1597
186,Zimbabwe,Africa,14883803.0,2704,36,0.241874,542,2126

In [309]:
df_filial_total = df_total.loc[ 
        (df_total.country_region == 'Spain') | 
        (df_total.country_region == 'Ecuador') | 
        (df_total.country_region == 'Chile') | 
        (df_total.country_region == 'Mexico') | 
        (df_total.country_region == 'Argentina')]

In [310]:
df_filial_total

,country_region,continent,population,confirmed,deaths,death / 100.000 hab,recovered,active
6,Argentina,South America,45236884.0,167416,3059,6.762181,72575,91782
35,Chile,South America,19132514.0,347923,9187,48.017736,319954,18782
51,Ecuador,South America,17668824.0,81161,5532,31.309384,34896,40733
111,Mexico,North America,129066160.0,395489,44022,34.108088,303810,47657
157,Spain,Europe,46756648.0,272421,28432,60.808465,150376,93613

#   Casos diarios

In [303]:
df_diario

,country_region,continent,population,date,confirmed,deaths,death / 100.000 hab,recovered,active,new cases,new deaths
0,Afghanistan,Asia,39009447.0,2020-01-22,0,0,0.000000,0,0,0,0
1,Albania,Europe,2877470.0,2020-01-22,0,0,0.000000,0,0,0,0
2,Algeria,Africa,43926079.0,2020-01-22,0,0,0.000000,0,0,0,0
3,Andorra,Europe,77278.0,2020-01-22,0,0,0.000000,0,0,0,0
4,Angola,Africa,32956300.0,2020-01-22,0,0,0.000000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,Africa,219544.0,2020-07-27,865,14,6.376854,734,117,2,0
49064,Yemen,Asia,29886897.0,2020-07-27,1691,483,1.616093,833,375,10,4
49065,Comoros,Africa,871326.0,2020-07-27,354,7,0.803373,328,19,0,0
49066,Tajikistan,Asia,9557468.0,2020-07-27,7235,60,0.627781,6028,1147,43,1
49067,Lesotho,Africa,2143943.0,2020-07-27,505,12,0.559716,128,365,0,0

In [312]:
df_filial_diario = df_diario.loc[ 
        (df_diario.country_region == 'Spain') | 
        (df_diario.country_region == 'Ecuador') | 
        (df_diario.country_region == 'Chile') | 
        (df_diario.country_region == 'Mexico') | 
        (df_diario.country_region == 'Argentina')]

In [313]:
df_filial_diario

,country_region,continent,population,date,confirmed,deaths,death / 100.000 hab,recovered,active,new cases,new deaths
6,Argentina,South America,45236884.0,2020-01-22,0,0,0.000000,0,0,0,0
47,Chile,South America,19132514.0,2020-01-22,0,0,0.000000,0,0,0,0
95,Ecuador,South America,17668824.0,2020-01-22,0,0,0.000000,0,0,0,0
156,Mexico,North America,129066160.0,2020-01-22,0,0,0.000000,0,0,0,0
199,Spain,Europe,46756648.0,2020-01-22,0,0,0.000000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
48813,Argentina,South America,45236884.0,2020-07-27,167416,3059,6.762181,72575,91782,4890,120
48854,Chile,South America,19132514.0,2020-07-27,347923,9187,48.017736,319954,18782,2133,75
48902,Ecuador,South America,17668824.0,2020-07-27,81161,5532,31.309384,34896,40733,467,17
48963,Mexico,North America,129066160.0,2020-07-27,395489,44022,34.108088,303810,47657,4973,342
49006,Spain,Europe,46756648.0,2020-07-27,272421,28432,60.808465,150376,93613,0,0